<div  >
    <div *ngFor="let profile of data" class="item" >
        <div class="ID">
        	<label style="color: blueviolet;">NHA{{profile.id}}</label> 
        	<label>{{profile.fName}}  {{profile.mName}} {{profile.lName}}</label>
        	<span>
        		<a  href="#!profile?profileId={{profile.id}}">Read full profile</a>
        	</span>
        </div>
        <div><img class="profilePic"  /></div> 
        <!-- ng-src="data:image/jpg;base64,{{profile.profileDp}}" -->
        <!--src="images/profile/{{profile.id}}.png" ng-src="{{getImage('',profile.gender)}}" -->
        <!--ng-src="getImage('images/profile/{{profile.id}}.png', {{profile.gender}})"-->
        <div class="details">
            <table>
                <tr>
                    <td>Age / Height</td>
                    <td>{{getAge(profile.dob) | number:0}} Yrs, {{profile.height}} cms</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{profile.address.district}}, {{profile.address.state}}</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>{{profile.color}}</td>
                </tr>
                <tr>
                    <td>Education</td>
                    <td>{{profile.education}}</td>
                </tr>
                <tr>
                    <td>Occupation</td>
                    <td>{{profile.occupation}}</td>
                </tr>
                <tr>
                    <td>About me</td>
                    <td>{{profile.aboutme}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
