@charset "UTF-8";

.item {
  font-family: Tahoma;
  font-size: 15px;
  border-radius: 25px 25px 0px 0px;
  /*margin:0 auto;*/
  background-color: azure;
  border-width: 1px;
  border-color: #bee5dd;
  border-style: solid;
  height: 250px;
  margin-top: 10px;
  /* margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px; */
}

.profilePic {
  float: left;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  height: 80%;
  width: 20%;
  max-width: 160px;
  max-height: 180px;
  filter: blur(3px);
}

.ID {
  font-size: 18px;
  padding: 10px 10px 10px;
  border-radius: inherit;
  background-color: #bee5dd;
}

.details {
  float: left;
}

.details label {
  margin: 10px 10px 10px 10px;
  color: red;
}

table {
  font-size: 13px;
  max-width: 630px;
}

table tr td:first-child {
  color: dimgrey;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 150px;
}

span {
  float: right;
}
