<div>
  <div class="inner">
    <table border="0">
      <tr>
        <td colspan="6" style="background-color: darkgrey">
          Personnel Details :
        </td>
      </tr>
      <tr>
        <td>Full Name</td>
        <td colspan="5">
          <input ng-model="data.fName" placeholder="First Name" />
          <!--</td> <td>Middle </td> <td>-->
          <input ng-model="data.mName" placeholder="Middle Name" />
          <!--</td> <td>Last </td> <td>-->
          <input ng-model="data.lName" placeholder="Last Name" />
        </td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td colspan="2">
          <select ng-model="data.day">
            <option *ngFor="let day of days">{{ day }}</option>
          </select>
          <!--<input class="smallest" ng-model="data.day" />
            <input class="smallest" ng-model="data.month" />
            <input class="smallest" ng-model="data.year" />-->
          <select ng-model="data.month">
            <option *ngFor="let mon of months">{{ mon }}</option>
          </select>
          <select ng-model="data.year">
            <option *ngFor="let yr of years">{{ yr }}</option>
          </select>
        </td>
        <td>Birth Time</td>
        <td colspan="2">
          <input class="smallest" ng-model="data.hour" /> Hrs
          <input class="smallest" ng-model="data.min" /> Mins
          <!--<select> <option ng-repeat="hr in hrs">{{hr}}</option></select> Hrs
<select><option ng-repeat="mn in mins">{{mn}}</option></select> Mins-->
        </td>
      </tr>
      <tr>
        <td>Color</td>
        <td>
          <select ng-model="data.color">
            <option *ngFor="let color of colors">{{ color }}</option>
          </select>
        </td>
        <td>Birth Name</td>
        <td><input ng-model="data.birthName" /></td>
        <td>Marital Status</td>
        <td>
          <select ng-model="data.maritalStatus">
            <option *ngFor="let maritalStatus of maritalStatuses">
              {{ maritalStatus }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Birth Place</td>
        <td><input ng-model="data.birthPlace" /></td>
        <td>Gender</td>
        <td>
          <select ng-model="data.gender">
            <option *ngFor="let gnd of genders">{{ gnd }}</option>
          </select>
          <!--<input class="smallest" ng-model="data.gender" type="radio"/>-->
        </td>
        <td>Height</td>
        <td><input class="smallest" ng-model="data.height" /> cms</td>
      </tr>
      <tr>
        <td colspan="6" style="background-color: darkgrey">Address :</td>
      </tr>
      <tr>
        <td>Address 1</td>
        <td colspan="6">
          <textarea ng-model="data.address.addr1" class="halfWidth"></textarea>
        </td>
      </tr>
      <tr>
        <td>Address 2</td>
        <td colspan="6">
          <textarea ng-model="data.address.addr2" class="halfWidth"></textarea>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td><input ng-model="data.address.city" /></td>
        <td>District</td>
        <td>
          <select ng-model="data.address.district">
            <option *ngFor="let dct of districts">{{ dct }}</option>
          </select>
          <!--<input ng-model="data.address.district" />-->
        </td>
        <td>State</td>
        <td><input ng-model="data.address.state" disabled /></td>
      </tr>
      <tr>
        <td colspan="6" style="background-color: darkgrey">Professional :</td>
      </tr>
      <tr>
        <td>Education</td>
        <td colspan="2"><input ng-model="data.education" /></td>
        <td>Occupation</td>
        <td colspan="2"><input ng-model="data.occupation" /></td>
      </tr>
      <tr>
        <td>About Me</td>
        <td colspan="5">
          <textarea ng-model="data.aboutme" class="fullWidth"> </textarea>
        </td>
      </tr>
      <tr>
        <td>Expection</td>
        <td colspan="5">
          <textarea ng-model="data.expectation" class="fullWidth"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">Profile Pic:</td>
        <td colspan="4"><input type="file" file-model="profileDpFile" /></td>
        <!--<td><input type="button" value="Upload" ng-click="uploadImage();"/></td>-->
      </tr>
      <tr>
        <td colspan="6" style="text-align: right; padding-right: 20px;">
          <input type="button" value="Submit" ng-click="submit();" />
        </td>
      </tr>
      <!--<tr>
<td colspan="6" style="text-align: right; padding-right: 20px;">
<input type="text" ng-model="profileDpId"/>
<input type="button" value="Submit" ng-click="getImage();"/>
</td>
</tr>-->
    </table>

    <!--<img ng-src="{{fileUrl}}" /> {{fileUrl}}-->
  </div>
</div>
