.inner {
  /*background-color: yellow;*/
  /* width: 1200px; */
  height: 100%;
  padding-top: 20px;
}

.smallest {
  width: 50px;
}

table {
  border: 2px;
  width: 800px;
}
table tr td {
  padding-top: 15px;
  vertical-align: top;
}

.inner textarea {
  height: 40px;

  resize: none;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}
