<div class="center">
  <div class="divTable container">
    <div>
      <div>
        <div>User Name *</div>
        <div><input type="text" /></div>
      </div>
      <div>
        <div>Password *</div>
        <div><input type="password" /></div>
      </div>
      <div>
        <div></div>
        <div class="colspan" style="text-align: right;">
          <input type="button" value="Submit" />
        </div>
      </div>
    </div>
  </div>
</div>
