.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the submit button with a specific background color etc */
input[type="button"],
[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="button"],
[type="submit"]:hover {
  background-color: #45a049;
}

input[type="text"],
[type="password"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Our own code */
.center {
  text-align: center;
  width: 100%;
}

.divTable {
  display: table;
  display: inline-block;
}
.divTable div {
  display: table-row-group;
}
.divTable div div {
  display: table-row;
}
.divTable div div div {
  /* border: 1px solid #999999; */
  display: table-cell;
  padding: 3px 10px;
}
/* .divTable div .colspan {
  border: 1px solid grey;
  caption-side: bottom;
  display: table-caption;
  text-align: center;
} */
