<ul>
  <li><a href="#home">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Profile</a>
    <div class="dropdown-content">
      <a routerLink="listprofile">All</a>
      <a routerLink="addprofile">Add</a>
      <!-- <a routerLink="searchprofile">Search</a> -->
    </div>
  </li>
  <li><a routerLink="contactus">Contact</a></li>
  <li style="float:right"><a routerLink="login">Login</a></li>
  <li style="float:right"><a routerLink="aboutus">About Us</a></li>
</ul>
